.menu{
	display: inline;
	margin-right: 1%;
	margin-left: 1%;
	color: white;
}
.marup{
	disbplay: block;
}
.saveme input[type="checkbox"] {
    display: none;
}
.saveme{display: inline-block;
    margin: 5px;
    cursor: pointer;
}
.savemea{color: lime;font-size: 20px;}
#checkbox:checked + .savemebox::before {
    content: "\2611";
    color: lime;
    animation: checkanimate 200ms;
}
.savemebox::before {
    content: "\2612";
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
	color: orangered;
    margin-right: 5px;
    width: 1em;
    display: inline-block;
    font-size: 1.6em;
}
.autor{color: orangered;background: #282828;border: 2px solid silver;border-radius: 5px;}
.upmenu{	
	height: 80px;
	width: 103.6%;
	margin-left: -2%;
	margin-right: 100px;
    background: #191A1B;
    margin-bottom: 10px;
    padding-top: 30px;
}
.btn{color: orangered  !important;
border: 1px solid white !important;

background: #282828 !important;text-decoration: none;}
.btn:hover{color: lime  !important;text-decoration: none;}
.bl{background: #202020 !important;text-align: center; border: 2px solid silver !important;border-radius: 10px !important;}
#playerd {width:810px !important;color: orangered;}
#promo {width:809px !important;color: orangered;}
#tovard {color: orangered;}
.zizuzu{width: 100%;}
.link2{color: gray;}
.link2:hover{color: orangered;}
.link{color: gray;}
.b_btn{background: red;width: 10px;color: lime;}
.inp{background: #282828;}
#content_magazine{width: 865px;}
.menulink{
	font-family: 'Comfortaa';
	color: white;
	text-decoration:none;
	font-size: 150%;
	font-weight: 600;
}
.menulink:hover{
	color: silver;
	text-decoration: underline;
}
ul{
	text-align: center;
}
.logoname{
	display: block;
	float: top;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 50px;
	color: white;
	font-family: 'Ubuntu';
}
.glav{
	text-align: top;
	disbplay: block;
	float: inherit;
	margin-left: 40px;
}
.blockcenter{
	min-height: 1045px;
	width: 1280px;
	display: block;
	text-align: center;
	margin-top: 30px;
	top: left;
	margin: 0 auto;
}
.rightblock{
	height: 100%;
    background-color: #1E2024;
	padding-bottom: 10px;
    width: 300px; /*Меняем на 20%*/
    float: right;
	margin-right: 60px;
	border-radius: 10px;
	margin-top: 15px;
}
.osnova{
	height: 100%;
	width: 98%; /*Меняем на 80%*/
    padding: 10px;
    margin: 0 auto;
	margin-top: -25px;
}
.bottom{
	display: block;
	width:103.6%;
	height: 100%;
	margin-left: -2%;
	background:#1E2024;
	text-align: center;
	color: gray;
	font-size: 13px;
	padding-bottom: 10px;
	font-family: ubuntu;
	float: left;
}
.namevigs{
	color: white;
	font-size: 30px;
	padding-bottom: 5px;
	border-bottom: solid 3px orangered;
}
.ratname{
	color: white;
	font-size: 20px;
}
.vk_groups{
	width: 240px;
}
#vk_groups{margin: 0 auto; width: 240px;}
body{
	background-image:url("../img/bg.jpg");
	background-color: #282828;
	background-position:center 52px;
	background-size:100% auto;
	background-repeat:no-repeat;
}
.vig{
	wight: 200px;
	height: 100px;
}
.newsblock{
	height: 100%;
	display: block;
    background-color: #2ff553;
    margin-bottom: 10px;
    width: 70%; /*Меняем на 20%*/
    float: left;
}
.bottom-content{
	border-top: 1px dotted silver;
}
.dat-sie{
	color: silver;
	margin-right: 20px;
	margin-left: 5px;
	font-size: 20px;
}
.podrob{
	color: white;
	font-size: 20px;
	width: 150px;
	text-align: center;
	height: 28px;
	background: #18191C;
	text-decoration: none;
	border-radius: 3px;
	border: white solid 2px;
}
.podrob:hover{
	color: orangered;
	background: black;
	border: orangered solid 2px;
}
.podrob2{
	color: black;
	font-size: 20px;
	width: 150px;
	text-align: center;
	height: 28px;
	background: white;
	text-decoration: none;
	border-radius: 3px;
	border: black solid 2px;
}
.podrob2:hover{
	color: red;
	background: white;
	border: black solid 2px;
}
.lognews{
	margin-top: -20px;
	margin-left: -20px;
	background: red;
}
.textnews{color: silver;font-size: 20px;}
.texnws{
	height: 185px;color:red;
}
.tagnews{
	position: absolute;
	color: white;
	font-weight:400;
	font-size: 30px;
	width: 435px;
	margin-left: -20px;
	margin-top: -35px;
	padding-left: 15px;
	background: linear-gradient(to top, rgba(30,32,36,1),rgba(30,32,36,1), rgba(255,0,0,0));
}
.block-content{
	font-family: 'Source Sans Pro', sans-serif;
	height: 400px;
    background-color: #1E2024;
    width: 410px; /*Меняем на 20%*/
	border-radius: 10px;
	float: left;
	padding: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: left;
	text-align: bottom;
}
.nazvpol{color: silver;margin-bottom: -2px;}
.linkosob{color: orangered;text-decoration: none;}
.linkosob:hover{color: lime;text-decoration: none;}
.kategor{margin-right: 20px;color: gray;font-family: Ubuntu;font-size: 15px;}
.addadm{border: 1px solid silver;text-align: center;padding: 5px;font-family: Ubuntu;font-size: 20px;background: #202020;width: 360px;border-radius: 5px;}
.kategop{color: orangered;font-family: Ubuntu;font-size: 15px;}
.rpl{float: left;margin-left: 50px;}
.ospan{float: left;height: 100%;}
.textiz{color: orangered;content_magazinetext-decoration:none;}
.textiz2{color: orangered;text-decoration:none;}
.polereg{margin: 0 auto;text-align: center;}
.hello{
	border-radius: 10px;
	text-align: left;
	height: 100%;
	width: 880px;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 10px;
    background-color: #1E2024;
	color: white;
	font-size: 15px;
	font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px;
    float: left;
}
.textsogl{word-break:inherit;disbplay: block;margin-left: 10px;color: gray;}
.punkt{background: orangered;font-size:15px;padding-top: 3px;padding-bottom: 3px;padding-left: 7px; padding-right: 7px;}
.punkt2{float:left;background: orangered;font-size:15px;padding-top: 4px;padding-bottom: 4px;padding-left: 4px; padding-right: 4px;}.hi{
	text-align: center;
	color: Silver;
	font-size: 25px;
}
.trheig{height: 40px;}
.subs{color: white;background: #282828;font-size: 20px;border: 2px solid silver;border-radius: 3px;}
.subs:hover{color: orangered;background: #282828;font-size: 20px;border: 2px solid orangered;border-radius: 3px;}
.subs:active{color: red;background: #282828;font-size: 20px;border: 2px solid orangered;border-radius: 3px;}
#createnews{display: none;}
#createguid{display: none;}
#vidpriv{display: none;}
#delprof{display: none;}
.profim{text-align: center;float: right;margin-top: -10px;}
.profsrc{border-radius: 50px;}
.zixius{background: #202020;border-radius: 10px;height: 180px;width: 820px;padding-left: 10px;padding-right: 10px;padding-top: 20px;padding-bottom: 20px;}
.footer{
    height: 80px;
    background: #41874e;
    margin-bottom: 10px;
}
.priveleg{background: #282828;color: white;}
.autlog{padding: 10px;font-size: 20px;border-radius: 10px;text-align: center;background: #282828;color: silver;}
.butred{background: gray;color: white;}
.zagrizb{color: gold;}
.createnews{margin-bottom: 10px;padding-bottom: 10px;height: 100%;background: #141414;border-radius: 15px;color: white;text-align: center;}
.stats{border: 2px solid silver;padding-left: 20px;margin-bottom: 10px;padding-bottom: 10px;height: 100%;background: #141414;border-radius: 15px;color: white;text-align: left;}
.lograb{font-size: 25px;color: gold;}
.logguid{font-size: 25px;color: gold;}
.loged{font-size: 20px;}
.logedguid{font-size: 20px;}
.tagenews{resize: none;width: 220px;height: 15px;background: #282828;color: white;}
.korop{resize: none;width: 220px;height: 100px;background: #282828;color: white;}
.fulop{resize: none;width: 800px;height: 150px;background: #282828;color: white;}