.menu{
	display: inline;
	margin-right: 1%;
	margin-left: 1%;
	color: white;
}
.marup{
	disbplay: block;
}

.upmenu{	
	height: 80px;
	max-width: 107%;
	width: 103.6%;
	margin-left: -2%;
	margin-right: 100px;
    background: #191A1B;
    margin-bottom: 10px;
    padding-top: 30px;
}
.poisk input{border-radius: 5px;font-size: 20px;border: 2px solid orangered;width: 500px;background: #282828;color: orangered;}
.poisk button {
	background: #282828;
	margin-left: 5px;
	width: 30px;
	height: 30px;
	border: 2px solid orangered;
	border-radius: 50px;
	color: red;
}
.menulink{
	font-family: 'Comfortaa';
	color: white;
	text-decoration:none;
	font-size: 150%;
	font-weight: 600;
}
.menulink:hover{
	color: silver;
	text-decoration: underline;
}
.menulink:hover{
	color: silver;
	text-decoration: underline;
}
ul{
	text-align: center;
}
.logoname{
	display: block;
	float: top;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 50px;
	color: white;
	font-family: 'Ubuntu';
}
.glav{
	text-align: top;
	disbplay: block;
	float: inherit;
	margin-left: 40px;
}
.blockcenter{
	width: 1280px;
	min-height: 1045px;
	display: block;
	text-align: center;
	margin-top: 30px;
	top: left;
	margin: 0 auto;
}
.rightblock{
	height: 100%;
    background-color: #1E2024;
	padding-bottom: 10px;
    width: 300px; /*Меняем на 20%*/
    float: right;
	margin-right: 60px;
	border-radius: 10px;
	margin-top: 15px;
}
.osnova{
	height: 100%;
	width: 98%; /*Меняем на 80%*/
    padding: 10px;
    margin: 0 auto;
	margin-top: -25px;
}
.bottom{
	display: block;
	width:103.6%;
	height: 100%;
	margin-left: -2%;
	background:#1E2024;
	text-align: center;
	color: gray;
	font-size: 13px;
	padding-bottom: 10px;
	font-family: ubuntu;
	float: left;
}
.namevigs{
	color: white;
	font-size: 30px;
	padding-bottom: 5px;
	border-bottom: solid 3px orangered;
}
.ratname{
	color: white;
	font-size: 20px;
}
.vk_groups{
	width: 240px;
}
#vk_groups{margin: 0 auto; width: 240px;}
body{
	background-image:url("../img/bg.jpg");
	background-color: #282828;
	background-position:center 52px;
	background-size:109.5% auto;
	background-repeat:no-repeat;
	min-width: 1280px;
}
.vig{
	wight: 200px;
	height: 100px;
}
.newsblock{
	height: 100%;
	display: block;
    background-color: #2ff553;
    margin-bottom: 10px;
    width: 70%; /*Меняем на 20%*/
    float: left;
}
.bottom-content{
	border-top: 1px dotted silver;
}
.dat-sie{
	color: silver;
	margin-right: 20px;
	margin-left: 5px;
	font-size: 20px;
}
.podrob{
	color: white;
	font-size: 20px;
	width: 150px;
	text-align: center;
	height: 28px;
	float: right;
	margin-right: 5px;
	background: #18191C;
	text-decoration: none;
	border-radius: 3px;
	border: white solid 2px;
}
.podrob:hover{
	color: orangered;
	background: black;
	border: orangered solid 2px;
}
.lognews{
	margin-top: -20px;
	margin-left: -20px;
}
.solcom{border: 2px solid white;height: 100%;width: 820px;border-radius: 10px;float: left;padding: 5px;margin-bottom: 10px;}
.textnews{word-wrap: break-word;color: silver;font-size: 20px;}
.coms{color: white;font-size: 20px;}
.imagesis{width: 50px;height:50px;border-radius:50px;}
.texnws{
	height: 185px;color:red;
}
.texguid{
	height: 105px;color:red;
}
.tagnews{
	position: absolute;
	color: white;
	font-weight:400;
	font-size: 30px;
	width: 435px;
	margin-left: -20px;
	margin-top: -35px;
	padding-left: 15px;
	background: linear-gradient(to top, rgba(30,32,36,1),rgba(30,32,36,1), rgba(255,0,0,0));
}
.blockguid{
	font-family: 'Source Sans Pro', sans-serif;
	height: 400px;
    background-color: #1E2024;
    width: 410px; /*Меняем на 20%*/
	border-radius: 10px;
	float: left;
	padding: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: left;
	text-align: bottom;
}
.block-content{
	font-family: 'Source Sans Pro', sans-serif;
	height: 400px;
    background-color: #1E2024;
    width: 410px; /*Меняем на 20%*/
	border-radius: 10px;
	float: left;
	padding: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: left;
	text-align: bottom;
}
.name{color:#666;font-size: 20px;font-weight:600;margin-top: 20px;margin-left: 10px;position: absolute;}
.komment{color: white;font-size: 15px;float: left;}

.test{resize: none;width:820px;height:75px;}
.subs{color: white;background: #282828;font-size: 20px;border: 2px solid silver;border-radius: 3px;}
.subs:hover{color: orangered;background: #282828;font-size: 20px;border: 2px solid orangered;border-radius: 3px;}
.subs:active{color: red;background: #282828;font-size: 20px;border: 2px solid orangered;border-radius: 3px;}
.hello{
	border-radius: 10px;
	text-align: left;
	height: 100%;
	width: 880px;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 10px;
    background-color: #1E2024;
	color: white;
	font-size: 15px;
	font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px;
    float: left;
}
.hi{
	text-align: center;
	color: silver;
	font-size: 25px;
}
.footer{
    height: 80px;
    background: #41874e;
    margin-bottom: 10px;
}
.podrob2{
	color: white;
	font-size: 20px;
	width: 220px;
	text-align: center;
	height: 28px;
	margin-right: 5px;
	background: #18191C;
	text-decoration: none;
	border-radius: 3px;
	border: white solid 2px;
}
.podrob2:hover{
	color: orangered;
	background: black;
	border: orangered solid 2px;
}