<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/stylelogin.css" th:href="@{css/stylelogin.css}">
	<link rel="shortcut icon" href="img/icon/favicon.png" type="image/png">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@100&family=Source+Sans+Pro:wght@200;400;600&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
	<script src="js/scrypt.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
	<title>Пользовательское соглашение</title>
</head>
<body>
	<div class="osnova"> 
		<div class="upmenu">
				<ul>
					<li class="menu"><a class="menulink" href="index.html">Главная</a></li>
					<li class="menu"><a class="menulink" href=#>Новости</a></li>
					<li class="menu"><a class="menulink" href="donate.html">Донат</a></li>
					<li class="menu"><a class="menulink" href="lk.html">Личный кабинет</a></li>
					<li class="menu"><a class="menulink" href="support.html">Тех.поддержка</a></li>
					<li class="menu"><a class="menulink" href="guidmenu.html">Помощь</a></li>
				</ul>
		</div>
		<div class="glav">
			<div class="logoname">Avelir Craft - RPG сервер minecarft</div>
			<div class="blockcenter">
				<div class="rightblock">
					<br><a class="namevigs">ВИДЖЕТЫ</a></br></br>
					<iframe src="http://monitoringminecraft.ru/status-iframe5y/45.93.200.15%3A25577.png#%D0%9E%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD%20%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80%D0%B0%20" frameborder="no" width="90%"allowTransparency="true" height="22" scrolling="no"></iframe>	
					<hr width="80%" color="orangered" align="center" size="3px;">	
					<script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
					<!-- VK Widget -->
					<div id="vk_groups"></div>
					<script type="text/javascript">
					VK.Widgets.Group("vk_groups", {mode: 4, width: "280", height: "400", color1: '1E2024', color2: 'FFFFFF', color3: 'FF4500'}, 191168008);
					</script>
					<hr width="80%" color="orangered" align="center" size="3px;">
					<iframe src="https://discordapp.com/widget?id=594485809424367626&theme=dark" width="280" height="400" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>			
					<hr width="80%" color="orangered" align="center" size="3px;">
					<a class="ratname">голосуй за нас</a><br/>
					<a href="http://minecraftrating.ru/server/avelircraft/" title="Голосуй за нас на MinecarftRating.ru"><img style="pointer-events: none;" src="img\icon\minecraftrating.png"></a>
				</div>
					<br/>
				<div class="hello">
					<div class="hi">Пользовательское соглашение</div>
					<br>
					<div class="stats" style="display: block;">
						<br/>
						<p><a class="punkt">1</a><a class="textsogl">Данные правила обязательны к исполнению на всех ресурсах проекта и всеми участниками, вне зависимости от обстоятельств и статусов.</a></p>
						<p><a class="punkt">2</a><a class="textsogl">Описание пункта</a></p>
						<p><a class="punkt">2</a><a class="textsogl">Описание пункта</a></p>
						<p><a class="punkt">2</a><a class="textsogl">Описание пункта</a></p>
					</div>
					<br/>
				</div>
			</div>
		</div>
		<div class="bottom">
		<br/>
			Размещённая на настоящем сайте информация носит исключительно информационный характер и ни при каких условиях не является публичной офертой,
			<br>определяемой положениями ч. 2 ст. 437 Гражданского кодекса Российской Федерации.
			<hr width="90%" color="gray" align="center" size="1px;">
			2020 © AvelirCraft — игровой RPG сервер minecarft!
			<br>Создание и продвижение сайта: Andels,Amoral,POOK
		</div>
	</div>
</body>
</html>