<aside class="widgets">
    <div class="__widgets-wrapper">
        <h2 class="widgets-title">ВИДЖЕТЫ</h2>
        <!-- widgets-source-->
        <iframe src="//misterlauncher.org/monitoring/server_id/2430/color/orange/status/mc.avelircraft.ru:25577/"
                height="22" frameborder="0" scrolling="no" width="90%" class="widgets-server-stats">
        </iframe>
        <div class="__widgets-line"></div>
        <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
        <!-- VK Widget -->
        <div id="vk_groups"></div>
        <script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 4, width: "280", height: "400", color1: '1E2024', color2: 'FFFFFF', color3: 'FF4500'}, 191168008);


        </script>
        <div class="__widgets-line"></div>
        <iframe src="https://discordapp.com/widget?id=594485809424367626&amp;theme=dark" width="280"
                height="400"
                allowtransparency="true" frameborder="0"
                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
        </iframe>
        <div class="__widgets-line"></div>
        <a class="widgets-vote-text">голосуй за нас</a>

        <ul class="widgets-vote-list">
            <li class="widgets-vote-item">
                <a href="http://minecraftrating.ru/server/avelircraft/"
                   title="Голосуй за нас на MinecarftRating.ru">
                    <img style="pointer-events: none;" src="img/icon/minecraftrating.png"
                         alt="Логотип minecraftrating"/>
                </a>
            </li>
            <li class="widgets-vote-item">
                <a href="http://monitoringminecraft.ru/server/673600"
                   title="Проверено MonitoringMinecraft.ru">
                    <img style="pointer-events: none;" src="img/icon/monitoringminecarft.png"
                         alt="Логотип monitoringminecarft"/>
                </a>
            </li>
            <li class="widgets-vote-item">
                <a href="https://misterlauncher.org/server/2430/"
                   title="Голосуй за нас на MisterLauncher.org">
                    <img style="pointer-events: none;" src="img/icon/misterylauncher.png"
                         alt="Логотип misterylauncher"/>
                </a>
            </li>
        </ul>
        <!-- -->
    </div>
</aside>